.App {
  text-align: center;
  background-color: #2C5992;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/355241/pexels-photo-355241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FBFAF9;
  height: 7rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-right: solid black .1rem;
  border-bottom: solid black .1rem;
  border-left: solid black .1rem;
  border-radius: 0rem 0rem 3rem 3rem;
  font-family: 'Cormorant Infant', serif;
  font-size: 3.5rem;
}

.lCard {
  background-color: #FBFAF9;
  margin-top: 15rem;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  opacity: .6;
  position: absolute;
  top: 10rem;
  border: .15rem solid black;
}

.amaticBrand {
  font-family: 'Cormorant SC', serif;
  font-size: 9rem;
  position: absolute;
  top: 24rem;
  left: 8rem;
  -webkit-animation: fadein 3s;
}

.jobTitle {
  font-family: 'Cormorant SC', serif;
  font-size: 8rem;
  position: relative;
  top: 25rem;
  right: 30rem;
  -webkit-animation: fadein 6s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#meImage {
  height: 35rem;
  width: auto;
  position: relative;
  top: 9rem;
  left: 35rem;
  border-radius: 5rem;
}

.aboutBody {
  background-color: #FBFAF9;
  margin-top: 15rem;
  height: 65vh;
  width: 100vw;
  opacity: .6;
  position: absolute;
  top: 5rem;
  border: .15rem solid black;
}

.aboutHead {
  font-family: 'Cormorant SC', serif;
  font-size: 6rem;
  opacity: 1;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 3rem;
}

.aboutContent {
  font-family: 'Cormorant Infant', serif;
  font-size: 2.5rem;
  opacity: 1;
  font-weight: bold;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 1rem;
  margin: 4rem;
  right: 1rem;
}

.projectHead {
  font-family: 'Cormorant Garamond', serif;
  font-size: 6rem;
  opacity: 1;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 3rem;
}

.projectContent{
  font-family: 'Cormorant Infant', serif;
  font-size: 4rem;
  opacity: 1;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 1rem;
  margin: 4rem;
  right: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

.projectLeft, .projectRight {
  display: flex;
  flex-direction: column
}

.contact {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4rem;
  font-weight: bold;
  opacity: 1;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 1rem;
  margin: 4rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
}

.picture{
  height: 60vh;
  width: auto;
  opacity: 1;
  border-radius: 5rem;
}

i:hover {
  cursor: pointer;
}

.picCarousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 15rem;
}

i {
  padding: 10rem;
  padding-top: 20rem;
  font-size: 5rem;
}

a {
  padding: 1rem;

}

.me {
  height: 35rem;
  width: auto;
  opacity: 1;
  position: relative;
  top: 12rem;
  right: 2rem;
  border-radius: 7rem;

}

.aboutWrap {
  display: flex;
  flex-wrap: nowrap;
}

.resume {
  height: 1100px;
  background-image: white;
  padding: 5rem;
  background-image: url("https://images.pexels.com/photos/355241/pexels-photo-355241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-size: cover;
}
