.App {
  text-align: center;
  background-color: #2C5992;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/355241/pexels-photo-355241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FBFAF9;
  height: 7rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-right: solid black .05em;
  border-bottom: solid black .05em;
  border-left: solid black .05em;
  border-radius: 0px 0px 20px 20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5em;
}

.lCard {
  background-color: #FBFAF9;
  margin-top: 15rem;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  opacity: .6;
  position: absolute;
  top: 10rem;
  border: .15em solid black;
}

.amaticBrand {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  position: absolute;
  top: 30rem;
  left: 10rem;
  -webkit-animation: fadein 3s;
}

.jobTitle {font-family: 'Amatic SC', cursive;
  font-size: 80px;
  position: relative;
  top: 33rem;
  right: 35rem;
  -webkit-animation: fadein 6s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#meImage {
  height: 325px;
  width: auto;
  position: relative;
  top: 10rem;
  left: 30rem;
  border-radius: 75px;
}

.aboutBody {
  background-color: #FBFAF9;
  margin-top: 15rem;
  height: 65vh;
  width: 100vw;
  opacity: .6;
  position: absolute;
  top: 5rem;
  border: 2px solid black;
}

.aboutHead {
  font-family: 'Cormorant Garamond', serif;
  font-size: 75px;
  opacity: .99;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 3rem;

}

.aboutContent {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5em;
  opacity: 1;
  font-weight: bold;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 1rem;
  margin: 4rem;
  right: 1rem;
}

.projectHead {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5em;
  opacity: .99;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 3rem;
}

.projectContent{
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  opacity: .99;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 1rem;
  margin: 4rem;
  right: 1rem;
  font-weight: bold;
}

.contact {
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
  opacity: .99;
  text-align: left;
  position: relative;
  top: 12rem;
  left: 1rem;
  margin: 4rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
}

.picture{
  height: 60vh;
  width: auto;
  opacity: .99;
  border-radius: 25px
}

i:hover {
  cursor: pointer;
  font-size: 50px;
}

.picCarousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 15rem;
}

i {
  padding: 10rem;
  padding-top: 20rem;
}


